@import "../../../_general_style.scss";

.a__transparent_button {
  margin: 1em;
  padding: 1em;
  width: 15em;
  height: 4em;
  background-color: transparent;
  border: solid $white 2px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;

  .a__transparent_button_text {
    margin: 0;
    @include primary-text(1.2em, $white, 100)
  }

  &:hover {
    background-color: $white;

    .a__transparent_button_text {
      color: $primary-purple;
    }
  }

}